<div class="columns">
  
  <!--profile section on left-->
  <div class="column">
    <section class="section"> 
      <div class="container">
        <div class="content">
          <h1>Profile</h1>
          <p>Placeholder - stuff about name, username etc.</p>
        </div>
      </div>
    </section>
  </div>

  <!--user's posts in center-->
  <div class="column is-three-fifths">
    <section class="section"> 
      <div class="container">
        <h2 class="title"><%= current_user.username %>'s Posts</h2>
        <%= render "posts/post_media" %>
      </div>
    </section>
  </div>

  <!--friends bar on right-->
  <div class="column">
    <%= render "friends" %>
    <%= render "friend_requests" %>
    <%= render "find_friends" %>
  </div>

</div>