<div class="section">
  <div class="container">
    <div class="content">
      <h1>Timeline</h1>
      <% @posts.each do |post| %>
        <div class="box">
          <article class="media">
            <figure class="media-left">
                <%= image_tag("default_avatar.png", class: "image is-64x64") %>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong><%= post.title %></strong> <small><%= link_to post.user.username, post.user %></small> <small><%= time_ago_in_words(post.created_at) %></small>
                  <br>
                  <%= post.body %>
                </p>
              </div>
              <!-- controls for own posts -->
              <% if post.user == current_user %>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item">
                    link to edit
                  </a>
                  <a class="level-item">
                    link to delete
                  </a>
                </div>
              </nav>
              <!-- controls for other user's posts -->
              <% else %>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item">
                    <span class="icon is-small"><i class="fa fa-reply"></i></span>
                  </a>
                  <a class="level-item">
                    <% if post.likes.find_by(user_id: current_user.id) %>
                      <%= link_to fa_icon("heart"), like_path(post.likes.find_by(user_id: current_user.id)), method: "delete", class: "icon is-small" %>
                    <% else %>
                      <%= link_to fa_icon("heart-o"), likes_path(post), method: "post", class: "icon is-small" %>
                    <% end %>
                  </a>
                </div>
              </nav>
              <% end %>

              <!-- comments section here -->
              <% post.comments.each do |comment| %>
                <article class="media">
                  <figure class="media-left mb-0">
                    <p class="image is-48x48">
                      <%= image_tag("default_avatar.png") %>
                    </p>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>@<%= comment.user.username %></strong><br>
                        <%= comment.body %>   
                      </p>
                    </div>
                  </div>
                  <% if comment.user == current_user %>
                    <div class="media-right">
                        <%= link_to fa_icon("trash"), comment_path(comment), method: "delete", class: "icon is-small" %>
                    </div>
                  <% end %>
                </article>
              <% end %>


              <!-- adds a new comment -->
              <article class="media">
                <figure class="media-left">
                  <p class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </p>
                </figure>
                <div class="media-content">
                  <%= form_for @comment do |f| %>
                    <div class="field">
                      <div class="control">
                        <%= f.text_area :body, autofocus: true, placeholder: "Add comment here...", class: "textarea", rows: 2 %>
                        <%= f.hidden_field :post_id, value: post.id %>
                      </div>
                    </div>
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <%= f.submit "Submit", class: "button is-link" %> 
                        </div>
                      </div>
                    </nav>
                  <% end %>
                </div>
              </article>

            </div>
            <% unless post.likes.count() == 0 %>
              <div class="media-right">
                  <span class="icon-text has-text-dark">
                    <span class="icon">
                      <i class="fa fa-heart"></i>
                    </span>
                    <span><%= post.likes.count() %></span>
                  </span>
              </div>
            <% end %>
          </article>
        </div>
      <% end %>
    </div>
  </div>
</div>