<!DOCTYPE html>
<html>
  <head>
    <title>Fakebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar is-info">
      <div class="navbar-brand">
        <%= link_to image_tag("logo.png", size: "40x80"), root_path, :class => "navbar-item" %>
        <div class="navbar-item"
          <h1 class="title is-strong">FAKEBOOK</h1>
        </div>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start"> <!--left side of navbar -->
            <a class="navbar-item">Home</a>
        </div>

        <div class="navbar-end"> <!--right side of navbar -->
            <a class="navbar-item">Logout</a>
        </div>
      </div>
    </nav>

    <% if notice %>
    <div class="notification is-success">
      <%= notice %>
    <% end %>
    </div>
    <% if alert %>
    <div class="notification is-danger">
      <%= alert %>
    </div>
    <% end %>


    <%= yield %>
  </body>
</html>
